<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon" />
    @Styles.Render("~/Areas/Admin/Content/css/global.min.css")
    @Styles.Render("~/Areas/Admin/Content/css/card.min.css")
    <title>Trang quản lý - @ViewBag.Title</title>
</head>
<body>
    <aside class="sidebar">
        <div class="logo">
            <img src="~/Areas/Admin/Content/images/logo.svg" alt="" />
        </div>
        <div class="sidebar__list">
            <div class="sidebar__item">
                <div class="sidebar__item__title">
                    <i data-feather="home"></i>
                    <span>Màn hình chính</span>
                </div>
            </div>
            <span class="sidebar__heading">Quản lý</span>
            <div class="sidebar__item">
                <div class="sidebar__item__title -has-list">
                    <i data-feather="folder"></i>
                    <span>Danh mục</span>
                    <i data-feather="chevron-right"></i>
                </div>
                <ul class="sidebar__item__list">
                    <li class="active">
                        <i data-feather="list"></i>
                        @Html.ActionLink("Danh sách", "Index", "CategoryManager")
                    </li>
                    <li>
                        <i data-feather="plus"></i>
                        @Html.ActionLink("Thêm mới", "Create", "CategoryManager")
                    </li>
                </ul>
            </div>
            <div class="sidebar__item">
                <div class="sidebar__item__title -has-list">
                    <i data-feather="tag"></i>
                    <span>Hãng sản xuất</span>
                    <i data-feather="chevron-right"></i>
                </div>
                <ul class="sidebar__item__list">
                    <li>
                        <i data-feather="list"></i>
                        @Html.ActionLink("Danh sách", "Index", "BrandManager")
                    </li>
                    <li>
                        <i data-feather="plus"></i>
                        @Html.ActionLink("Thêm mới", "Create", "BrandManager")
                    </li>
                </ul>
            </div>
            <div class="sidebar__item">
                <div class="sidebar__item__title -has-list">
                    <i data-feather="shopping-bag"></i>
                    <span>Sản phẩm</span>
                    <i data-feather="chevron-right"></i>
                </div>
                <ul class="sidebar__item__list">
                    <li>
                        <i data-feather="list"></i>
                        @Html.ActionLink("Danh sách", "Index", "ProductManager")
                    </li>
                    <li>
                        <i data-feather="plus"></i>
                        @Html.ActionLink("Thêm mới", "Create", "ProductManager")
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    <main class="main">
        <div class="main__header card">
            <span class="main__header__item">
                <i data-feather="search"></i>
            </span>
            <span class="main__header__item">
                <i data-feather="bell"></i>
            </span>
            <div class="main__header__user">
                <span class="main__header__user__name">Nam Nguyễn</span>
                <span class="main__header__user__role">Admin</span>
                <img class="main__header__user__avatar"
                     src="~/Areas/Admin/Content/images/avatar/user-1.jpg"
                     alt="" />
            </div>
        </div>
        <div class="main__content">
            @RenderBody()
        </div>
    </main>

    @Scripts.Render("~/Areas/Admin/Scripts/feather.min.js")
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            feather.replace();

            const sidebarItems = document.querySelectorAll(
                '.sidebar__item__title.-has-list'
            );
            sidebarItems.forEach((sidebarItem) => {
                sidebarItem.addEventListener('click', function () {
                    this.classList.toggle('-active');

                    const list = this.nextElementSibling;
                    if (list.style.maxHeight) {
                        list.style.maxHeight = null;
                    } else {
                        list.style.maxHeight = `${list.scrollHeight / 10}rem`;
                    }
                });

                const list = sidebarItem.nextElementSibling;
                if (list.style.maxHeight) {
                    list.style.maxHeight = null;
                } else {
                    list.style.maxHeight = `${list.scrollHeight / 10}rem`;
                }
            });

            const listItems = document.querySelectorAll('.sidebar__item__list li');
            listItems.forEach((listItem, _, array) => {
                if (listItem.classList.contains('-active')) return;

                listItem.addEventListener('click', function () {
                    array.forEach((item) => item.classList.remove('-active'));
                    this.classList.add('-active');
                });
            });
        });
    </script>
</body>
</html>
