@using System.Globalization
@using TNS.Models
@model List<TNS.Models.Product>
@{
    ViewBag.Title = ViewBag.Name;
}

@Styles.Render("~/Content/css/product.min.css")
@Styles.Render("~/Content/css/category.min.css")
@Styles.Render("~/Content/css/filter.min.css")

<div class="container">
    <ul class="breadcrumb">
        <li><a href="/">Trang chủ</a></li>
        <li>@ViewBag.Name</li>
    </ul>
</div>
<div class="container category-details">
    <aside class="category-details__sidebar">
        <h3>Bộ lọc sản phẩm</h3>
        <div class="category-details__sidebar__filter">
            <div class="filter">
                <div class="filter__header open">
                    <span>Hãng sản xuất</span>
                    <i class="fas fa-chevron-down filter__header__chevron"></i>
                </div>
                <form class="filter__body">
                    <div class="filter__search-bar">
                        <input type="text" placeholder="Tìm hãng sản xuất" />
                        <i class="fas fa-search filter__search-icon"></i>
                    </div>
                    <div class="filter__brand-search">
                        <label class="filter__checkbox" for="msi">
                            <input type="checkbox" name="brand" id="msi" />
                            <span class="filter__checkmark"></span>
                            MSI
                        </label>
                        <label class="filter__checkbox" for="acer">
                            <input type="checkbox" name="brand" id="acer" />
                            <span class="filter__checkmark"></span>
                            ACER
                        </label>
                        <label class="filter__checkbox" for="asus">
                            <input type="checkbox" name="brand" id="asus" />
                            <span class="filter__checkmark"></span>
                            ASUS
                        </label>
                    </div>
                    <input class="button" type="submit" value="Áp dụng" />
                </form>
            </div>
        </div>
    </aside>
    <div class="category-details__list">
        <div class="category-details__header">
            <h3>
                @ViewBag.Name
                <small>(@Model.Count sản phẩm)</small>
            </h3>
            <div class="category-details__sort">
                <label for="product-sort">Sắp xếp theo:</label>
                <select name="product-sort" id="product-sort">
                    <option value="newest">Mới nhất</option>
                    <option value="price-asc">Giá (Thấp - Cao)</option>
                    <option value="price-desc">Giá (Cao - Thấp)</option>
                    <option value="alphabet-asc">Tên (A - Z)</option>
                    <option value="alphabet-desc">Tên (Z - A)</option>
                </select>
            </div>
        </div>
        <div class="category-details__product">
            @foreach (var product in Model)
            {
                <a href="/Product/Index/@product.Id" class="product">
                    <div class="product__discount">
                        <span>-@product.DiscountPercent%</span>
                    </div>
                    <div class="product__thumb">
                        <img src="@product.Images[0]" alt="@product.Title" />
                    </div>
                    <div class="product__body">
                        <p class="product__title"
                           title="@product.Title">
                            @product.Title
                        </p>
                        <div class="product__rate">
                            <div class="product__rate__star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p class="product__rate__amount">0 đánh giá</p>
                        </div>
                        <div class="product__price">
                            @{
                                NumberFormatInfo nfi = new CultureInfo("vi-VN", false).NumberFormat;
                                nfi.CurrencyDecimalDigits = 0;

                                int currentPrice = (product.Price - (product.Price * product.DiscountPercent / 100)) / 10000 * 10000;
                                <div class="product__price__selling">
                                    @currentPrice.ToString("C", nfi)
                                </div>

                                if (product.DiscountPercent == 0)
                                {
                                    <div class="product__price__old"></div>
                                }
                                else
                                {
                                    <div class="product__price__old">
                                        @product.Price.ToString("C", nfi)
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>

<script>
    const filterHeaders = document.querySelectorAll('.filter__header');
    filterHeaders.forEach((filterHeader) => {
        filterHeader.addEventListener('click', function (e) {
            this.classList.toggle('open');
        });
    });
</script>